.title{
    background-color: black;
}


.text{
    background-color: lightblue;
    color: white;
    text-align: center;
}

.allign{
    background-color:beige ;
}

.link{
    color: white;
}

.ya{
    background-color: black;
}

.yea{
    color: white;
}

.MY{
    background-color: black;
}

.Y{
    color: white;
}

.n{
    background-color: black;
}

.no{
    color: white;
}






























